<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.gezhi.mapper.UserMapper" >
<!--添加用户-->
<insert id="insertUser" parameterType="user">
  insert into user (userName,passWord)values (#{username},#{password})
</insert>
<!--查询用户-->
  <select id="selectUser" parameterType="String" resultType="cn.gezhi.po.User">
    select * from user where userName=#{username}
  </select>
  <!--查询所有用户-->
  <select id="selectAllUser" resultType="user">
    select * from user
  </select>
  <!--删除用户-->
  <delete id="deleteUser" parameterType="Integer">
    delete from user where id=#{id}
  </delete>
  <!--更新用户-->
  <update id="updateUser" parameterType="user">
    update user set userName=#(username),passWord=#{password} where id=#{id}
  </update>
</mapper>